<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 text-center" style="padding-top: 10%" align="center">
      <h4 style="font-size: 230%">Get The App.</h4>          
      <a href="https://itunes.apple.com/us/app/catchapp-the-social-network/id1224755049?mt=8"><%= image_tag "appstore.jpg", size: "300x70" %></a>
    </div>
    <div class="col-md-12 col-xs-12" style="padding-top: 15%">
      <p align="center"><%= image_tag "homephone.png", size: "240x520", class: "img-responsive image1" %>
        <%= image_tag "slidehome.gif", class: "img-responsive image2", size: "215x405" %>
      </p>
    </div>  
  </div>
</div>