<div class="container font pad">
  <div class="row">
    <div class="col-md-12">
    <h1>Privacy Policy</h1><br>
    <h3>
      Effective date: April 1st, 2017
      <br><br>
      Welcome to CatchApp (the “Service”, “we”, “us”, “our”). CatchApp enables you to easily create or search for events in which people with same interests and levels can participate, read news and search for spots.
      <br><br>- By using our Service you understand and agree that we are providing a platform for you to upload content, including first and last name, date of birth, gender, if you smoke, spoken languages, activity level and since when you are practicing the activity, profile picture, website, hometown, bio, activity pictures, spots, activity bio, events and chats ("User Content”), to the Service, and to share User Content publicly.
      <br><br>- This means that other Users may see any of your User Content that you make publicly available through the Service, consistent with the terms and conditions of this Privacy Policy and our Terms of Use (which can be found at https://wearecatchapp.com/privacypolicy.html).
      <br><br>- Our Policy applies to all visitors, users, and others who access the Service ("Users").
      <br><br>- This Privacy Policy may be updated from time to time for any reason. When changes are made, we will update the “last updated” date at the top of this Privacy Policy. You should regularly check for the most recent version, which is the version that applies.
      <br><br>- By using our Service, you are accepting the practices described in this Privacy Policy.
    </h3>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-md-12">  
      <h2>
        1. INFORMATION WE COLLECT
      </h2>
      <h3>
        - Your username (e-mail address) and password when you register for an CatchApp account.
        <br><br>- Profile information and Activity information that you provide for your account (e.g., first and last name, date of birth, gender, if you smoke, spoken languages, activity level and since when you are practicing the activity). This information allows us to help you or others be “matched” on CatchApp. You can choose not to provide us with certain information (e.g., profile picture, website, hometown, bio, activity pictures, spots, activity bio) but since CatchApp is a social network designed for you to be connected and accurately matched with other CatchApp Users, the more complete and exhaustive your Profiles are the higher the number of matches you will receive.
        <br><br>- Events that you upload to the Service. If you chat with other CatchApp Users, you provide us the content of your chats.
        <br><br>- Communications between you and CatchApp. For example, we may send you Service-related emails (e.g., account verification, changes/updates to features of the Service, technical and security notices). Note that you may not opt out of Service-related e-mails.
        <br><br>- You will also be asked to allow Catchapp to collect your location information from your device when you download or use the Service. We will not share your location with other Catchapp Users. Your location is used for our matching purposes.
      </h3>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">  
      <h2>
        2. HOW WE USE YOUR INFORMATION
      </h2>
      <h3>
        We use the information you provide us to:
        <br>- deliver and improve our products and services, and manage our business;
        <br>- perform research and analysis about your use of, or interest in, our products, services, or content;
        <br>- promote safety and security;
        <br>- communicate with you, manage your account and provide you with customer support.
      </h3>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">  
      <h2>
        3. SHARING OF YOUR INFORMATION
      </h2>
        <h3>
          We do not share your informations with any third parties companies, yet CatchApp is a Social Network and therefore your User Profile and all your Activity Profiles are listed publicly. However, within CatchApp, only the CatchApp Users we will match you with will be able to see your Profiles. The matching is done based on Activities, so every time there is a match the other CatchApp Users will be able to see all the information you provided when creating your User Profile and the information you provided related to the Activity Profile for the Activity you have in common with the other CatchApp User. We do not share within CatchApp your last name, where only the first letter of your last name is visible to the other CatchApp Users and your birthday, where only your age will be visible to the other CatchApp Users.
          <br>We may preserve or disclose your information if we believe that it is reasonably necessary to comply with a law, regulation, legal process or government request; to protect the safety of any person; to address fraud, security or technical issues; or to protect our or our Users’ rights or property. However, nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party’s, including a government’s, request to disclose your information.
          <br>In case of corporate transactions such as sale of our business, a divestiture, merger, consolidation, acquisition, asset sale, or bankruptcy, we reserve the right to disclose, sell or transfer your information
        </h3>
      <br>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-12">  
      <h2>
        4. HOW WE STORE YOUR INFORMATION
      </h2><br>
      <h3>
        - Your information collected through the Service may be stored and processed in the United States or any other country in which CatchApp, its Affiliates or Service Providers maintain facilities.
        <br><br>- CatchApp, its Affiliates, or Service Providers may transfer information that we collect about you, including personal information across borders and from your country or jurisdiction to other countries or jurisdictions around the world. If you are located in the European Union or other regions with laws governing data collection and use that may differ from U.S. law, please note that we may transfer information, including personal information, to a country and jurisdiction that does not have the same data protection laws as your jurisdiction.
        <br><br>- By registering for and using the Service you consent to the transfer of information to the U.S. or to any other country in which CatchApp, its Affiliates or Service Providers maintain facilities and the use and disclosure of information about you as described in this Privacy Policy.
        <br><br>- We use commercially reasonable safeguards to help keep the information collected through the Service secure and take reasonable steps (such as requesting a unique password and email validation) to verify your identity before granting you access to your account. However, CatchApp cannot ensure the security of any information you transmit to CatchApp or guarantee that information on the Service may not be accessed, disclosed, altered, or destroyed.
        <br><br>- Please do your part to help us. You are responsible for maintaining the secrecy of your unique password and account information, and for controlling access to emails between you and CatchApp, at all times.
      </h3>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">  
      <h2>
        5. YOUR CHOICES ABOUT YOUR INFORMATION
      </h2><br>
      <h3>
        After you create a User Profile, in the Settings page we provide you with a “Edit Profile” page to view, correct, delete, or modify the information you provided to us and associated with your account. To review, update or delete the information you entered when creating an Activity Profile you can open the related Activity Profile page and access “the Edit Activity Profile” page or the “Delete Activity Profile” page.
        <br>In the Settings page you can also log out or delete your account. In case you choose to delete your account, CatchApp, its affiliates or its Service Providers reserve the right to keep certain information associated with your account for analytics purposes, to improve our Services and to prevent fraud.
        <br>Once you delete your account though, your access to your User Profile and all your Activity Profiles, Preferences and Settings will be lost.

        <br><br>Our Services may deliver notifications to your phone or mobile device. The app notifications can be disabled by going into your iPhone “Settings” and choosing “CatchApp” > “Notifications”.
      </h3>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>
        6. CHILDREN'S PRIVACY
      </h2><br>
      <h3>
        Although our Service is a general audience Service, we restrict the use of our service to individuals age 18 and above. We do not knowingly collect, maintain, or use personal information from children under the age of 18. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us immediately <a href="mailto:catchapp@icloud.com">here</a>. We will delete such information from our files within a reasonable time.

        <br><br>Our mission is to connect you with people like you. We use all of the information we have to help us provide and support our Services.
      </h3><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>
        7. OTHER WEB SITES AND SERVICES
      </h2><br>
      <h3>
        We are not responsible for the practices employed by any websites or services linked to or from our Service, including the information or content contained within them. Please remember that when you use a link to go from our Service to another website or service, our Privacy Policy does not apply to those third-party websites or services. Your browsing and interaction on any third-party website or service, including those that have a link on our website, are subject to that third party's own rules and policies. In addition, you agree that we are not responsible and do not have control over any third-parties that you authorize to access your User Content. If you are using a third-party website or service and you allow them to access your User Content you do so at your own risk.
      </h3><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>
        8. CHANGES TO OUR PRIVACY POLICY
      </h2><br>
      <h3>
        CatchApp may modify or update this Privacy Policy from time to time, so please review it periodically. We may provide you additional forms of notice of modifications or updates as appropriate under the circumstances. Your continued use of CatchApp or the Service after any modification to this Privacy Policy will constitute your acceptance of such modification.
      </h3><br>
    </div>
  </div> 
</div>
