<div class="container font pad">
  <div class="row">
      <div class="col-md-12"> 
        <h1>Terms</h1>
        <br>
        <h3>
        Last update: April 1st, 2017
        <br><br>By accessing or using the CatchApp website, mobile application or any application or service made available by CatchApp (the “Service”), however accessed, you agree to be bound by these terms of Use (“Terms of Use”, “Terms” “Agreement”). The Service is own by Catchapp, LLC (“CatchApp, “we”, “us”).
        These Terms of Use may affect your rights and obligations. If you do not agree to be bound by all of these Terms of Use, do no use or access the Service.
        <br><br><br><h3>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-12">   
        <h2>
        YOUR RESPONSIBILITIES
        </h2>
      </div>
    </div>         
    <div class="row">
      <div class="col-md-12"> 
        <h3>
        Together, we are CatchApp. Therefore, we want to encourage a positive and diverse community. We remove content that contains credible threats or hate speech, content that targets private individuals to degrade or shame them, personal information meant to blackmail or harass someone, and repeated unwanted messages.
        It's never OK to encourage violence or attack anyone based on their race, ethnicity, national origin, sex, gender, gender identity, sexual orientation, religious affiliation, disabilities, or diseases.
        Serious threats of harm to public and personal safety aren't allowed. This includes specific threats of physical harm as well as threats of theft, vandalism, and other financial harm. We carefully review reports of threats and consider many things when determining whether a threat is credible.
        If you see something that you think may violate our guidelines, please help us by reporting these users or events from our built it report option. For clear instructions, please see our Help Center. We have a team that reviews these reports and works as quickly as possible to remove content that doesn’t meet our guidelines.
        You may find content you don’t like, but doesn’t violate our Terms. If that happens, you can block the user who shared it. For clear instructions, please see our Help Center.
        <br><br>1. You need to be at least 18 years old to access and use the Service.
        <br><br>2. You may not upload, display, send on or via the Service violent, nude, partially nude, discriminatory, unlawful, infringing, hateful, pornographic or sexually suggestive photos or other content.
        <br><br>3. You are responsible for any activity that occurs through your account and you agree you will not sell, transfer, license or assign your account or any account rights. CatchApp prohibits the creation of an account for anyone other than yourself. You also represent that all information you provide or provided to CatchApp upon registration and at all other times will be true, accurate, current and complete and you agree to update your information as necessary to maintain its truth and accuracy.
        <br><br>4. You agree that you will not solicit, collect or use the login credentials of other CatchApp users.
        <br><br>5. You are responsible for keeping your password secret and secure. For any disclosure of unauthorized credential you agree to notify and contact us <a href="mailto:catchapp@icloud.com">here</a>.
        <br><br>6. You must not upload nor send private or confidential information via the Service, including, without limitation, your or any other person's credit card information, social security or alternate national identity numbers, non-public phone numbers or non-public email addresses.
        <br><br>7. You are solely responsible for any interaction with any other users. You must not defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or entities.
        <br><br>8. You should not provide your financial information (for example, your credit card or bank account information), or wire or otherwise send money, to other users.
        <br><br>9. You may not use the Service for any illegal or unauthorized purpose. You agree to comply with all laws, rules and regulations (for example, federal, state, local and provincial) applicable to your use of the Service and your Content (defined below), including but not limited to, copyright laws.
        <br><br>10. You are solely responsible for your conduct and any data, text, files, information, usernames, images, graphics, photos, profiles, spots, works of authorship, applications, links and other content or materials (collectively, "Content") that you submit, share or display on or via the Service.
        <br><br>11. You must not change, modify, adapt or alter the Content or Service or change, modify or alter another website so as to falsely imply that it is associated with the Service or CatchApp.
        <br><br>12. You must not create or submit unwanted email, texts or other forms of commercial or harassing communications (a/k/a "spam") to any CatchApp users.
        <br><br>13. You may not modify, adapt, sublicense, translate, sell, reverse engineer, decipher, decompile or otherwise disassemble any portion of the Service any software used on or for the Service, or cause others to do so.
        <br><br>14. You may not share, use, transmit or distribute, directly or indirectly, (e.g. screen scrape) in any manner or media any content or information obtained from the Service other than solely in connection with your use of the Service in accordance with our Terms.
        <br><br>15. You must not interfere or disrupt the Service or servers or networks connected to the Service, including by transmitting any worms, viruses, spyware, malware or any other code of a destructive or disruptive nature. You may not inject content or code or otherwise alter or interfere with the way any CatchApp page is rendered or displayed in a user's browser or device.
        <br><br>16. You must not create accounts with the Service through unauthorised means, including but not limited to, by using an automated device, script, bot, spider, crawler or scraper.
        <br><br>17. You must not attempt to restrict another user from using or enjoying the Service and you must not encourage or facilitate violations of these Terms of Use or any other CatchApp terms.
        <br><br>18. You may not use the Service or any content contained in the Service (including, but not limited to, content of other users, designs, text, graphics, images, video, logos, software, and computer code) in connection with any commercial endeavours, such as advertising or soliciting any user to buy or sell any products or services not offered by us. Trainers may not use CatchApp for any purpose except with our express consent (such as for promoted profiles, events, spots or other advertisements), which CatchApp may provide or deny in its sole discretion. We may investigate and take any available legal action in response to illegal and/or unauthorised uses of the Service.
        <br><br>Violation of these Terms of Use may, in CatchApp sole discretion, result in termination of your CatchApp account. You understand and agree that CatchApp cannot and will not be responsible for the Content posted on the Service and you use the Service at your own risk. If you violate the letter or spirit of these Terms of Use, or otherwise create risk or possible legal exposure for CatchApp, we can stop providing all or part of the Service to you.
        </h3>
        <br>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <h2>
        GENERAL CONDITIONS
        </h2>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-12">        
        <h3>
            1. We reserve the right to modify or terminate the Service or your access to the Service for any reason, without notice, at any time, and without liability to you. If we terminate your access to the Service your photos, chats, profiles, events, and all other data will no longer be accessible through your account.
            <br><br>2. We reserve the right to refuse access to the Service to anyone for any reason at any time.
            <br><br>3. We may, but have no obligation to, remove, edit, block, and/or monitor Content or accounts containing Content that we determine in our sole discretion violates these Terms of Use.
            <br><br>4. You may contact us for help or customer service. You agree to be respectful and kind when communicating with us. If we think your behavior is careless, offensive or threatening toward us or the Service, we reserve the right to terminate the Service or your access to the Service without prior notification.
            <br><br>5. Some of the Service is supported by advertising revenue and may display advertisements and promotions, and you hereby agree that CatchApp may place such advertising and promotions on the Service or on, about, or in conjunction with your Content. The manner, mode and extent of such advertising and promotions are subject to change without specific notice to you.
            <br><br>6. The user commits to compensate CatchApp of every harmful consequence directly or indirectly liked to the usage of the Service.
            <br><br>7. The Service is not responsible for the conduct of any user both through the Service and in case of meeting. In no event shall the Service, its affiliates or its partners be liable (directly or indirectly) for any losses or damages whatsoever, whether direct, indirect, general, special, compensatory, consequential, and/or incidental, arising out of or relating to the conduct of you or anyone else in connection with the use of the Service including, without limitation, death, bodily injury, emotional distress, and/or any other damages resulting from communications or meetings with other users or persons you meet through the Service. Exercise common sense and your best judgment when interacting with others. You agree to take all necessary precautions in all interactions with other users, particularly if you decide to communicate off CatchApp or meet in person.
            <br><br>8. There may be links from the Service, or from communications you receive from the Service, to third-party web sites or features. There may also be links to third-party web sites or features in profiles or texts within the Service. The Service also includes third-party content that we do not control, maintain or endorse. You expressly acknowledge and agree that CatchApp is in no way responsible or liable for any such third-party services or features. YOUR CORRESPONDENCE AND BUSINESS DEALINGS WITH THIRD PARTIES FOUND THROUGH THE SERVICE ARE SOLELY BETWEEN YOU AND THE THIRD PARTY.
            <br><br>9. To access our Service you need internet connection. You agree that you are responsible for all data charges you incur through use of the Service.
            <br><br>10. We prohibit crawling, scraping, caching or otherwise accessing any content on the Service via automated means, including but not limited to, user profiles, events and photos (except as may be the result of standard search engine protocols or technologies used by a search engine with CatchApp express consent).
          </h3>
            <br>
          </div>  
        </div>
    <div class="row">
      <div class="col-md-12">   
        <h2>
        RIGHTS
        </h2>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-12">       
        <h3>
            1. You hereby grant to CatchApp a non-exclusive, fully paid, worldwide, transferable, sub-licensable, royalty-free, right and license to host, store, use, copy, display, reproduce, adapt, edit, publish, modify and distribute the Content that you post on or through the Service, subject to the Service's Privacy Policy, available in our Privacy Policy page.
            <br><br>2. Some of the Service is supported by advertising revenue and may display advertisements and promotions, and you hereby agree that CatchApp may place such advertising and promotions on the Service or on, about, or in conjunction with your Content. The manner, mode and extent of such advertising and promotions are subject to change without specific notice to you.
            <br><br>3. You represent and warrant that: (i) you own the Content posted by you on or through the Service or otherwise have the right to grant the rights and licenses set forth in these Terms of Use; (ii) the posting and use of your Content on or through the Service does not violate, misappropriate or infringe on the rights of any third party, including, without limitation, privacy rights, publicity rights, copyrights, trademark and/or other intellectual property rights; (iii) you agree to pay for all royalties, fees, and any other monies owed by reason of Content you post on or through the Service; and (iv) you have the legal right and capacity to enter into these Terms of Use in your jurisdiction.
            <br><br>4. The Service contains content owned or licensed by CatchApp ("CatchApp Content"). CatchApp Content is protected by copyright, trademark, patent, trade secret and other laws, and, as between you and CatchApp, CatchApp owns and retains all rights in the CatchApp Content and the Service. You will not remove, alter or conceal any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the CatchApp Content and you will not reproduce, modify, adapt, prepare derivative works based on, perform, display, publish, distribute, transmit, broadcast, sell, license or otherwise exploit the CatchApp Content.
            <br><br>5. The CatchApp name and logo are trademarks of CatchApp, and may not be copied, imitated or used, in whole or in part, without the prior written permission of CatchApp. In addition, all page headers, custom graphics, button icons and scripts are service marks, trademarks and/or trade dress of CatchApp, and may not be copied, imitated or used, in whole or in part, without prior written permission from CatchApp.
            <br><br>6. Although it is CatchApp intention for the Service to be available as much as possible, there will be occasions when the Service may be interrupted, including, without limitation, for scheduled maintenance or upgrades, for emergency repairs, or due to failure of telecommunications links and/or equipment. Also, CatchApp reserves the right to remove any Content from the Service for any reason, without prior notice. Content removed from the Service may continue to be stored by CatchApp, including, without limitation, in order to comply with certain legal obligations, but may not be retrievable without a valid court order. Consequently, CatchApp encourages you to maintain your own backup of your Content. In other words, CatchApp is not a backup service and you agree that you will not rely on the Service for the purposes of Content backup or storage. CatchApp will not be liable to you for any modification, suspension, or discontinuation of the Services, or the loss of any Content. You also acknowledge that the Internet may be subject to breaches of security and that the submission of Content or other information may not be secure.
            <br><br>7. You agree that CatchApp is not responsible for, and does not endorse, Content posted within the Service. CatchApp does not have any obligation to prescreen, monitor, edit, or remove any Content. If your Content violates these Terms of Use, you may bear legal responsibility for that Content.
            <br><br>8. Except as otherwise described in the Service's Privacy Policy, available in our Privacy Policy page, as between you and CatchApp, any Content will be non-confidential and non-proprietary and we will not be liable for any use or disclosure of Content. You acknowledge and agree that your relationship with CatchApp is not a confidential, fiduciary, or other type of special relationship, and that your decision to submit any Content does not place CatchApp in a position that is any different from the position held by members of the general public, including with regard to your Content. None of your Content will be subject to any obligation of confidence on the part of CatchApp, and CatchApp will not be liable for any use or disclosure of any Content you provide.
            <br><br>9. It is CatchApp’s policy not to accept or consider content, information, ideas, suggestions or other materials other than those we have specifically requested and to which certain specific terms, conditions and requirements may apply. This is to avoid any misunderstandings if your ideas are similar to those we have developed or are developing independently. Accordingly, CatchApp does not accept unsolicited materials or ideas, and takes no responsibility for any materials or ideas so transmitted. If, despite our policy, you choose to send us content, information, ideas, suggestions, or other materials, you further agree that CatchApp is free to use any such content, information, ideas, suggestions or other materials, for any purposes whatsoever, including, without limitation, developing and marketing products and services, without any liability or payment of any kind to you.
          </h3>
            <br>
          </div>  
        </div>
    <div class="row">
      <div class="col-md-12">       
        <h2>
        TRAINERS
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">        
          <h3>
            CatchApp is just a platform that connects people. When coaches and trainers use the app to connect with the CatchApp community, CatchApp is not responsible for any physical, financial or property damage. CatchApp does not guarantee the participants or coach/trainer will show up to the event.
            A CatchApp verified trainer is a person that when through a few steps verification, however CatchApp does not guarantee that the trainer is legally certified nor the veracity of the Content given or shown.
            In no case can CatchApp be responsible for any consequence of an interaction between users, trainers coaches and CatchApp Verified trainers.
          </h3>
            <br>
        </div>
      </div>  
    <div class="row">
      <div class="col-md-12">       
        <h2>
        DISCLAIMERS OF WARRANTIES
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">        
        <h3>
            THE SERVICE, INCLUDING, WITHOUT LIMITATION, CATCHAPP CONTENT, IS PROVIDED ON AN "AS IS", "AS AVAILABLE" AND "WITH ALL FAULTS" BASIS. TO THE FULLEST EXTENT PERMISSIBLE BY LAW, NEITHER CATCHAPP NOR ITS PARENT COMPANY NOR ANY OF THEIR EMPLOYEES, MANAGERS, OFFICERS OR AGENTS (COLLECTIVELY, THE "CATCHAPP PARTIES") MAKE ANY REPRESENTATIONS OR WARRANTIES OR ENDORSEMENTS OF ANY KIND WHATSOEVER, EXPRESS OR IMPLIED, AS TO: (A) THE SERVICE; (B) THE CATCHAPP CONTENT; (C) USER CONTENT; OR (D) SECURITY ASSOCIATED WITH THE TRANSMISSION OF INFORMATION TO CATCHAPP OR VIA THE SERVICE. IN ADDITION, THE CATCHAPP PARTIES HEREBY DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, TITLE, CUSTOM, TRADE, QUIET ENJOYMENT, SYSTEM INTEGRATION AND FREEDOM FROM COMPUTER VIRUS.
            
            <br><br>THE CATCHAPP PARTIES DO NOT REPRESENT OR WARRANT THAT THE SERVICE WILL BE ERROR-FREE OR UNINTERRUPTED; THAT DEFECTS WILL BE CORRECTED; OR THAT THE SERVICE OR THE SERVER THAT MAKES THE SERVICE AVAILABLE IS FREE FROM ANY HARMFUL COMPONENTS, INCLUDING, WITHOUT LIMITATION, VIRUSES. THE CATCHAPP PARTIES DO NOT MAKE ANY REPRESENTATIONS OR WARRANTIES THAT THE INFORMATION (INCLUDING ANY INSTRUCTIONS) ON THE SERVICE IS ACCURATE, COMPLETE, OR USEFUL. YOU ACKNOWLEDGE THAT YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE CATCHAPP PARTIES DO NOT WARRANT THAT YOUR USE OF THE SERVICE IS LAWFUL IN ANY PARTICULAR JURISDICTION, AND THE CATCHAPP PARTIES SPECIFICALLY DISCLAIM SUCH WARRANTIES. SOME JURISDICTIONS LIMIT OR DO NOT ALLOW THE DISCLAIMER OF IMPLIED OR OTHER WARRANTIES SO THE ABOVE DISCLAIMER MAY NOT APPLY TO YOU TO THE EXTENT SUCH JURISDICTION'S LAW IS APPLICABLE TO YOU AND THESE TERMS OF USE.
            
            <br><br>BY ACCESSING OR USING THE SERVICE YOU REPRESENT AND WARRANT THAT YOUR ACTIVITIES ARE LAWFUL IN EVERY JURISDICTION WHERE YOU ACCESS OR USE THE SERVICE.
            
            <br><br>THE CATCHAPP PARTIES DO NOT ENDORSE CONTENT AND SPECIFICALLY DISCLAIM ANY RESPONSIBILITY OR LIABILITY TO ANY PERSON OR ENTITY FOR ANY LOSS, DAMAGE (WHETHER ACTUAL, CONSEQUENTIAL, PUNITIVE OR OTHERWISE), INJURY, CLAIM, LIABILITY OR OTHER CAUSE OF ANY KIND OR CHARACTER BASED UPON OR RESULTING FROM ANY CONTENT.
          </h3>
            <br>
        </div>  
      </div>
      <div class="row">
        <div class="col-md-12">     
          <h2>
          LIMITATION OF LIABILITY; WAIVER
          </h2>
        </div>  
      </div>
    <div class="row">
      <div class="col-md-12">      
        <h3>
            UNDER NO CIRCUMSTANCES WILL THE CATCHAPP PARTIES BE LIABLE TO YOU FOR ANY LOSS OR DAMAGES OF ANY KIND (INCLUDING, WITHOUT LIMITATION, FOR ANY DIRECT, INDIRECT, ECONOMIC, EXEMPLARY, SPECIAL, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL LOSSES OR DAMAGES) THAT ARE DIRECTLY OR INDIRECTLY RELATED TO: (A) THE SERVICE; (B) THE CATCHAPP CONTENT; (C) USER CONTENT; (D) YOUR USE OF, INABILITY TO USE, OR THE PERFORMANCE OF THE SERVICE; (E) ANY ACTION TAKEN IN CONNECTION WITH AN INVESTIGATION BY THE CATCHAPP PARTIES OR LAW ENFORCEMENT AUTHORITIES REGARDING YOUR OR ANY OTHER PARTY'S USE OF THE SERVICE; (F) ANY ACTION TAKEN IN CONNECTION WITH COPYRIGHT OR OTHER INTELLECTUAL PROPERTY OWNERS; (G) ANY ERRORS OR OMISSIONS IN THE SERVICE'S OPERATION; OR (H) ANY DAMAGE TO ANY USER'S COMPUTER, MOBILE DEVICE, OR OTHER EQUIPMENT OR TECHNOLOGY INCLUDING, WITHOUT LIMITATION, DAMAGE FROM ANY SECURITY BREACH OR FROM ANY VIRUS, BUGS, TAMPERING, FRAUD, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER LINE OR NETWORK FAILURE OR ANY OTHER TECHNICAL OR OTHER MALFUNCTION, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOST PROFITS, LOSS OF GOODWILL, LOSS OF DATA, WORK STOPPAGE, ACCURACY OF RESULTS, OR COMPUTER FAILURE OR MALFUNCTION, EVEN IF FORESEEABLE OR EVEN IF THE CATCHAPP PARTIES HAVE BEEN ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE, STRICT LIABILITY OR TORT (INCLUDING, WITHOUT LIMITATION, WHETHER CAUSED IN WHOLE OR IN PART BY NEGLIGENCE, ACTS OF GOD, TELECOMMUNICATIONS FAILURE, OR THEFT OR DESTRUCTION OF THE SERVICE). IN NO EVENT WILL THE CATCHAPP PARTIES BE LIABLE TO YOU OR ANYONE ELSE FOR LOSS, DAMAGE OR INJURY, INCLUDING, WITHOUT LIMITATION, DEATH OR PERSONAL INJURY. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN NO EVENT WILL THE CATCHAPP PARTIES TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES OR CAUSES OR ACTION EXCEED ONE HUNDRED UNITED STATES DOLLARS ($100.00).
            
            <br><br>YOU AGREE THAT IN THE EVENT YOU INCUR ANY DAMAGES, LOSSES OR INJURIES THAT ARISE OUT OF CATCHAPP’S ACTS OR OMISSIONS, THE DAMAGES, IF ANY, CAUSED TO YOU ARE NOT IRREPARABLE OR SUFFICIENT TO ENTITLE YOU TO AN INJUNCTION PREVENTING ANY EXPLOITATION OF ANY WEB SITE, SERVICE, PROPERTY, PRODUCT OR OTHER CONTENT OWNED OR CONTROLLED BY THE CATCHAPP PARTIES, AND YOU WILL HAVE NO RIGHTS TO ENJOIN OR RESTRAIN THE DEVELOPMENT, PRODUCTION, DISTRIBUTION, ADVERTISING, EXHIBITION OR EXPLOITATION OF ANY WEB SITE, PROPERTY, PRODUCT, SERVICE, OR OTHER CONTENT OWNED OR CONTROLLED BY THE CATCHAPP PARTIES.
            
            <br><br>BY ACCESSING THE SERVICE, YOU UNDERSTAND THAT YOU MAY BE WAIVING RIGHTS WITH RESPECT TO CLAIMS THAT ARE AT THIS TIME UNKNOWN OR UNSUSPECTED, AND IN ACCORDANCE WITH SUCH WAIVER, YOU ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTAND, AND HEREBY EXPRESSLY WAIVE, THE BENEFITS OF SECTION 1542 OF THE CIVIL CODE OF CALIFORNIA, AND ANY SIMILAR LAW OF ANY STATE OR TERRITORY, WHICH PROVIDES AS FOLLOWS: "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR."
            
            <br><br>CATCHAPP IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE US, OUR DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES.
          </h3>
            <br>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12">        
        <h2>
        INDEMNIFICATION
        </h2>
      </div>
    </div>    
    <div class="row">
      <div class="col-md-12">
        <h3>
            You (and also any third party for whom you operate an account or activity on the Service) agree to defend (at CatchApp’s request), indemnify and hold the CatchApp Parties harmless from and against any claims, liabilities, damages, losses, and expenses, including without limitation, reasonable attorney's fees and costs, arising out of or in any way connected with any of the following (including as a result of your direct activities on the Service or those conducted on your behalf): (i) your Content or your access to or use of the Service; (ii) your breach or alleged breach of these Terms of Use; (iii) your violation of any third-party right, including without limitation, any intellectual property right, publicity, confidentiality, property or privacy right; (iv) your violation of any laws, rules, regulations, codes, statutes, ordinances or orders of any governmental and quasi-governmental authorities, including, without limitation, all regulatory, administrative and legislative authorities; or (v) any misrepresentation made by you. You will cooperate as fully required by CatchApp in the defense of any claim. CatchApp reserves the right to assume the exclusive defense and control of any matter subject to indemnification by you, and you will not in any event settle any claim without the prior written consent of CatchApp.
          </h3>
            <br>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12">        
        <h2>
        ARBITRATION CLAUSE
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">        
        <h3>
            We both agree to arbitrate. You and CatchApp agree to resolve any claim relating to these Terms of Use through final and binding individual arbitration and you waive your right to participate in a class action lawsuit or class-wide arbitration, except if you opt-out or except for certain types of disputes described below:
            <br>Your or CatchApp’s intellectual property (such as trademarks, trade dress, domain names, trade secrets, copyrights and patents); (2) violations of the API Terms; or (3) violations of Your Responsabilities (see section above), above ("Excluded Disputes"), you agree that all disputes between you and CatchApp (whether or not such dispute involves a third party) with regard to your relationship with CatchApp, including without limitation disputes related to these Terms of Use, your use of the Service, and/or rights of privacy and/or publicity, will be resolved by binding, individual arbitration under the American Arbitration Association's rules for arbitration of consumer-related disputes and you and CatchApp hereby expressly waive trial by jury. As an alternative, you may bring your claim in your local "small claims" court, if permitted by that small claims court's rules. You may bring claims only on your own behalf. Neither you nor CatchApp will participate in a class action or class-wide arbitration for any claims covered by this agreement. You also agree not to participate in claims brought in a private attorney general or representative capacity, or consolidated claims involving another person's account, if CatchApp is a party to the proceeding. This dispute resolution provision will be governed by the Federal Arbitration Act. In the event the American Arbitration Association is unwilling or unable to set a hearing date within one hundred and sixty (160) days of filing the case, then either CatchApp or you can elect to have the arbitration administered instead by the Judicial Arbitration and Mediation Services. Judgment on the award rendered by the arbitrator may be entered in any court having competent jurisdiction. Any provision of applicable law notwithstanding, the arbitrator will not have authority to award damages, remedies or awards that conflict with these Terms of Use.
            <br><br>You may opt out of this agreement to arbitrate. If you do so, neither you nor CatchApp can require the other to participate in an arbitration proceeding. To opt out, you must notify CatchApp in writing within 30 days of the date that you first became subject to this arbitration provision. You must use this address to opt out:
            <br><br>316 Oceano Drive
            <br>Los Angeles, CA 90049
                
            <br><br>You must include your name and residence address, the email address you use for your CatchApp account, and a clear statement that you want to opt out of this arbitration agreement.
                
            <br><br>If the prohibition against class actions and other claims brought on behalf of third parties contained above is found to be unenforceable, then all of the preceding language in this Arbitration section will be null and void. This arbitration agreement will survive the termination of your relationship with CatchApp.
          </h3>
            <br>
        </div>
      </div> 
    <div class="row">
      <div class="col-md-12">       
        <h2>
        TIMER LIMITATION ON CLAIMS
        </h2>
      </div>
    </div>    
    <div class="row">
      <div class="col-md-12">
        <h3>
          You agree that any claim you may have arising out of or related to your relationship with CatchApp must be filed within one year after such claim arose; otherwise, your claim is permanently barred.
        </h3>
          <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">      
        <h2>
        MODIFICATIONS OF TERMS
        </h2>
      </div>
    </div>    
    <div class="row">
      <div class="col-md-12">
        <h3>
          We may revise these Terms from time to time. If you don't agree to the updates we make, please cancel your account and spot using the Service. By continuing to use or access the Services after the updates come into effect, you agree to be bound by the revised Terms.
        </h3>
            <br>
      </div>      
    </div>
    <div class="row">
      <div class="col-md-12">    
        <h2>
        ENTIRE AGREEMENT
        </h2>
      </div>
    </div>    
    <div class="row">
      <div class="col-md-12">
        <h3>
          1. These Terms constitute the entire agreement between you and the Service with respect to the subject matter of these Terms, and supersede and replace any other prior or contemporaneous agreements, or terms and conditions applicable to the subject matter of these Terms. These Terms create no third party beneficiary rights.
          <br><br>2. The application is the sole and exclusive property of CatchApp, LLC.
          <br><br>3. As a user you acknowledge to have read all our Terms and Privacy Policy conditions.
          <br><br>4. These Terms of Use are governed by and construed in accordance with the laws of the State of Delaware.
          <br><br>5. If any provision of these Terms of Use is found by a court of competent jurisdiction to be invalid or otherwise unenforceable, the parties nevertheless agree that such portion will be deemed severable from these Terms of Use and will not affect the validity and enforceability of the remaining provisions, and the remaining provisions of the Terms of Use remain in full force and effect. Neither the course of conduct between the parties nor trade practice will act to modify the Terms of Use. These Terms of Use do not confer any third-party beneficiary rights.
        </h3>
            <br>
      </div>       
    </div>
</div>