<div class="container font">
  <div class="row">
    <div class="col-md-12">
      <h1 style="text-decoration: underline">Being a CatchApp Trainer</h1><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 grey">
      <h2>
        You can become a CatchApp trainer with an invitation from our developers only.
        Once you are a CatchApp Verified Trainer, you will be able to create Trainer Events and offer your services to the CatchApp Community.
        <br>
        <br>
        Please see our "Terms and Conditions" for more information.
      </h2><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1> Create a trainer event</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Share your Event directly</h1>
    </div>
  </div>
</div>