
@import "bootstrap";


.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.image2 {
  position: absolute;
  top: 115px;
  left: 100px;
  z-index: 3;
}

.padl {
    padding-left: 25px;  
}

.font {
   font-family: 'Raleway', sans-serif;
}
.pad {
    padding-top: 25px;
}

footer{
    height: auto;
    position: relative;
    width: 100%;
    padding-bottom: 1%;
    padding-top: 7%;
    z-index:999;
}

.sm{
    list-style:none;
    overflow:auto;
}

.sm a img {
    width:35px;
    padding: 5px;
    display: inline;
}

.pic {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;       
    zoom: auto;
    width: 100%;
    min-height: 300px;
    z-index: -100;    
}

.box1 {
    width: 300px;
    border: 2px solid grey;
    padding: 13px;
    margin: 10px;
    background: #A9A9A9;
    margin-left: auto;
    margin-right: auto;
}
