
@import "bootstrap";


.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.image2 {
  position: absolute;
  top: 273px;
  left: 257px;
  z-index: 3;
}

.padl {
    padding-left: 25px;  
}

.font {
    font-family: baskerville;
}
.pad {
    padding-top: 25px;
}

footer{
    height: auto;
    position: relative;
    width: 100%;
    padding-top: 35%;
    z-index:999;
}

.sm{
    list-style:none;
    overflow:auto;
}

.sm a img {
    width:35px;
    padding: 5px;
    display: inline;
}
